 <div class="card">
    <div class="card-header bg-warning">
      <h6 class="font-weight-bold">Filter</h6>
    </div>
    <div class="card-body">
      <div>
        <p class="text-muted font-weight-light">CATEGORIES</p>
        <a class="font-weight-bold dropdown-toggle" data-toggle="collapse" data-target="#collapseExample">Clothing</a>
        <ul id="collapseExample" data-toggle="collapse" type="none">
          <li>Mens Clothing</li>
          <li>Womens Clothing</li>
          <li>Kids Clothing</li>
        </ul>
      </div><hr class="h">
      <div class="mb-3">
        <p class="font-weight-bold">Price</p>
        <input type="text" placeholder="min range" class="d-inline i">
        <input type="text" placeholder="max range" class="ml-4 i">
      </div><hr class="h">
      <div>
        <p class="font-weight-bold">Brand</p>
        <input type="text" placeholder="Search Brand" id="input1">
        <div class="mt-2">
          <div><input type="checkbox"><label class="ml-2">Levis</label></div>
          <div><input type="checkbox"><label class="ml-2">Puma</label></div>
          <div><input type="checkbox"><label class="ml-2">HRX</label></div>
          <div><input type="checkbox"><label class="ml-2">Moda Rapido</label></div>
          <div><input type="checkbox"><label class="ml-2">Adidas</label></div>

        </div>
      </div>
      <hr class="h">
      <div>
        <p class="font-weight-bold">DISCOUNT</p>
        <div class="mt-2">
          <div><input type="checkbox"><label class="ml-2">Less than 10%</label></div>
          <div><input type="checkbox"><label class="ml-2">10% or More</label></div>
          <div><input type="checkbox"><label class="ml-2">20% or More</label></div>
          <div><input type="checkbox"><label class="ml-2">30% or More</label></div>
          <div><input type="checkbox"><label class="ml-2">40% or More</label></div>

        </div>
      </div>
      <hr class="h">
      <div>
        <p class="font-weight-bold">COLOR</p>
        <div class="mt-2">
          <div><input type="checkbox"><label class="ml-2">Blue</label></div>
          <div><input type="checkbox"><label class="ml-2">Red</label></div>
          <div><input type="checkbox"><label class="ml-2">Black</label></div>
          <div><input type="checkbox"><label class="ml-2">Yellow</label></div>
          <div><input type="checkbox"><label class="ml-2">Green</label></div>
        </div>
      </div>
    </div>
  </div>
