.card1 {
    display: inline-flex;
    padding: 13px 24px;
  }
  .h{
      margin: 0px -1px 20px;
      border-top: 1px solid #c9c7c7;
      }
.pr{
    display: flex;
    justify-content: space-between;
    margin: 5px 10px;
    font-weight: 500;
  }
  .ko{
    font-weight: 500;
  }
  #ioi{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 17px;
    font-weight: 600;
    background-color: #fb641b;
  }
  .lol{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fb641b;
    font-size: 17px;
    font-weight: 600;
    width: 155%;
    margin: auto;
  }
  .c3{
      color: red;
  }