<body style="background-color:#f1f3f6">
    <!--code for search box and navbar -->
    
   <div class="container-fluid">
       
      <nav aria-label="breadcrumb">
<ol class="breadcrumb">
 <li class="breadcrumb-item "><a href="#" class="text-dark" style="text-decoration: none">Home</a></li>
 <li class="breadcrumb-item"><a href="#"class="text-dark"style="text-decoration: none">clothing</a></li>
  <li class="breadcrumb-item"><a href="#"class="text-dark"style="text-decoration: none"> men clothing</a></li>
    <li class="breadcrumb-item"><a href="#"class="text-dark"style="text-decoration: none">jacket</a></li>
    <li class="breadcrumb-item"><a href="#"class="text-dark"style="text-decoration: none">HRX By Hrithik Roshan Jackets</a></li> 
          
          <li class="breadcrumb-item"><a href="#"class="text-dark"style="text-decoration: none">More By HRX By Hrithik Roshan</a></li>
          </ol>
</nav> 
       
       
       
       
      
       <div class="container-fluid">
       <div class="row">
           <div class="col-sm-6">
           <div class="card">
<img class="card-img-top" src="assets/digital-marketing-for-students.jpg" alt="Card image cap">
<div class="card-body">
 <h4 class="card-title">Product code: 2030857</h4>
 <p class="card-text">
   Sold by:<a href="">unistand</a>
 </p>
 <a href="#!" class="btn ">view more information</a>
</div>
</div>
</div>
           <div class="col-sm-6">
            <div class="card">
          <div class="card-body">
              <h3 class="card-title">HRX by Hrithik Roshan Men Olive Green Printed Hooded Sporty Jacket</h3>
                                                                 
 
 <p class="card-text">
    Rs. 1559
 </p>
   <p class="card-message">Additional tax may apply; charged at checkout</p>
   <div class="clearfix">
       <h5 class="float-sm-left">Select size</h5>
       <a href="" class="float-sm-right ml-5">Size chart</a>
   </div>
    <div>
        <p>Garment Measurement:<span class="text-muted m-1">Chest - 41.0in</span></p> 
    </div>
   <div class="clearfix">
      <div class="c1 float-left">S</div>
      <div class="c1 float-left ml-2">M</div>
      <div class="c1 float-left ml-2">L</div>
      <div class="c1 float-left ml-2">XL</div>
       <div class="c1 float-left ml-2">XXL</div>
   
   </div>
   <div>
       <p>Buy a size smaller:<span class="text-muted m-1"> This item's size runs large</span></p>
   
   </div>
   <div class="clearfix">
       <button type="button" id="id4" class="btn float-left">VIEW</button>
       <a routerLink="/cart"><button type="button" id="id6" class="btn float-left ml-5">Add to cart</button></a>
   </div>
   <div>
       <h5>Product Details</h5>
   
   <p>Olive green printed sporty jacket, has a hooded, 2 pockets, zip closure, long sleeves, straight hem, mesh lining</p>
   </div>
   
   <div>
       <h5>Material & Care</h5>
       <p>Polyester </p>
       <p>Machine-wash</p>
      </div>
              <div>
              <h6 style="color: #526CD0;">Check Delivery Options</h6>
              <P>Tax: Applicable tax on the basis of exact location & discount will be charged at the time of checkout</P>
             <P>100% Original Products</P>
             <p>Free Delivery on order above Rs. 1199</p> 
             <p>Cash on delivery might be available</p>
             <p>Easy 30 days returns & 30 days exchanges</p> 
             <p>Try & Buy might be available</p>     
              </div>
  </div>           
</div>
</div>
</div>
</div>
   </div>
   
            

</body>