<body style="background-color:#f1f3f6">
<!--code for search box and navbar -->

<div class="container-fluid">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item "><a href="#" class="text-dark" style="text-decoration: none">Home</a>
      </li>
      <li class="breadcrumb-item"><a href="#" class="text-dark" style="text-decoration: none">{{product.MainCategory}}</a>
      </li>
      <li class="breadcrumb-item"><a href="#" class="text-dark" style="text-decoration: none">{{product.category}}</a>
      </li>
      <li class="breadcrumb-item"><a href="#" class="text-dark" style="text-decoration: none">{{product.name}}</a>
      </li>
    </ol>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <img class="card-img-top" src="{{product.ProductPicUrl}}"  alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{product.UoM}}</h4>
            <p class="card-text">
              Sold by:<a href="">{{product.SupplierName}}</a>
            </p>
            <a href="#!" class="btn ">view more information</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{product.Name}}</h3>

            <div>
              <p class="card-text">
              {{product.Price | currency}}
            </p>
            </div>
            <p class="card-message">Status: {{product.Status}}</p>
            <div class="clearfix">
              <h5 class="float-sm-left">Select size</h5>
              <a href="" class="float-sm-right ml-5">Size chart</a>
            </div>
            <div>
              <p>Garment Measurement:<span class="text-muted m-1">Chest - 41.0in</span></p>
            </div>
            <div class="clearfix">
              <div class="c1 float-left">S</div>
              <div class="c1 float-left ml-2">M</div>
              <div class="c1 float-left ml-2">L</div>
              <div class="c1 float-left ml-2">XL</div>
              <div class="c1 float-left ml-2">XXL</div>

            </div>
            <div>
              <p>Buy a size smaller:<span class="text-muted m-1"> This item's size runs large</span></p>

            </div>
            <div class="clearfix">
              <button type="button" id="id4" class="btn float-left">VIEW</button>
              <a routerLink="/cart">
                <button type="button" id="id6" class="btn float-left ml-5" (click)="addToCart(product)">Add to cart</button>
              </a>
            </div>
            <div>
              <h5>Product Details</h5>

              <p>{{Product.Description}}</p>
            </div>


            <div>
              <h6 style="color: #526CD0;">Check Delivery Options</h6>
              <P>Tax: Applicable tax on the basis of exact location & discount will be charged at the time of
                checkout</P>
              <P>100% Original Products</P>
              <p>Free Delivery on order above Rs. 1199</p>
              <p>Cash on delivery might be available</p>
              <p>Easy 30 days returns & 30 days exchanges</p>
              <p>Try & Buy might be available</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


</body>
