<body style="background-color:#f1f3f6">
    
    
  <div class="container-fluid">
     <div class="row">
         <div class="col-8">
         <div class="card">
             <div class="card-body" id="id2" style="background-color: #2874f0" >
         
              <h>PAYMENT OPTION</h>  
             
            </div>
             
        <div class="d-block my-4">
           <div class="custom-control custom-radio ml-4">
             <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
             <label class="custom-control-label" for="credit">
                
                     
         <div id="accordion" role="tablist">
            <h5 class="mb-0">
              <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    
       <img src="assets/download%20(2).png" style="width: 40px; height:20px" class="float-left">
        <p class="d-inline ml-1">Paytm</p>
       
       </a>
     
          </h5>
  <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
   
     <button type="button" class="btn btn-m" style="background-color: orange">PAY<span>₹1559</span> </button>
   
 </div>

                      </div>
               </label>
 </div>
             
           <div class="custom-control custom-radio ml-4">
             <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required="">
             <label class="custom-control-label" for="debit">
                 
       <div id="accordion" role="tablist">

 
   <h5 class="mb-0">
     <a data-toggle="collapse" href="#collapsetwo" aria-expanded="true" aria-controls="collapsetwo">
             <p>Credit/Debit/Atm</p>
   
     </a>
   </h5>
 </div>
   
 <div id="collapsetwo" class="collapse show" role="tabpanel" aria-labelledby="headingtwo">
 
             <input class="form-control mr-sm-2 " type="text" placeholder="Enter card Number" aria-label="Search">
            
             
             <div class="float-left mt-2">
               <p>EXPIRE</p>
             </div>
             
               <div class="float-left ml-2 mt-2">
               <select  name="month" required="" tabindex="4"><option  value="MM">MM</option>
                   
                   <option value="01">01</option>
                   <option value="02">02</option>
                   <option value="03">03</option>
                   <option value="04">04</option>
                   <option value="05">05</option>
                   <option value="06">06</option>
                   <option value="07">07</option>
                   <option value="08">08</option>
                   <option value="09">09</option>
                   <option value="10">10</option>
                   <option value="11">11</option>
                   <option value="12">12</option>
                   </select>
                    </div>
                <div class="float-left mt-2">
               <select  name="year" required="" tabindex="5"><option value="YY">YY</option><option value="18">18</option>
                   <option value="19">19</option>
                   <option value="20"> 20</option>
                   <option value="21">21</option>
                   <option value="22">22</option>
                   <option value="23">23</option>
                   
                   <option value="24">24</option>
                   <option value="25">25</option>
                   <option value="26">26</option>
                   <option value="27">27</option>
                   <option value="28">28</option>
                   <option value="29">29</option>
                   <option value="30">30</option>
                   <option value="31">31</option>
                   <option value="32">32</option>
                   <option value="33">33</option>
                   
                   <option value="34">34</option>
                   <option value="35">35</option></select>
                </div>
         
              
              <form class="form-inline my-2 my-lg-0 ">
   <input class="form-control mr-sm-2 mt-2 ml-1" type="text" placeholder="cvv" aria-label="Search">
   <button class="btn  my-2 my-sm-0 " style="background-color: orange" type="submit">PAY₹1559</button>
 </form>
               
         
     
     
     </div>
                 
          </label>
             </div>
             
              <div class="custom-control custom-radio ml-4">
             <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
             <label class="custom-control-label" for="paypal">
                  
                  <div id="accordion" role="tablist">

 
   <h5 class="mb-0">
     <a data-toggle="collapse" href="#collapsethree" aria-expanded="true" aria-controls="collapsethree">
       <p>net banking</p>
     </a>
   </h5>
 
                  
                <div id="collapsethree" class="collapse show" role="tabpanel" aria-labelledby="headingthree">
               <div class="container">
                   <div class="row">
     <div class="col-4">
<div class="custom-control custom-radio ">
<input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
<label class="custom-control-label" for="customRadio1">
   <img src=assets/nnamed.png style="width: 20px; height: 20px" class="float-left">
        <h6 class=" d-inline">State bank of </h6>
 
 </label>
</div>
<div class="custom-control custom-radio mt-2">
<input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
<label class="custom-control-label" for="customRadio2">
 
 <img src="assets/p9IgQZnb4C1ISLAbISPWG7XRuRVAmZipTtbDwF11rc_tG-VnVrVTveESokhaxKDxgw=w300.png" style="width: 20px; height: 20px" class="float-left">
   <h6 class="d-inline">ICIC Bank</h6>
 </label>
</div>
                   
                   <div class="custom-control custom-radio mt-2">
                   
                    <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                       <label class="custom-control-label" for="customRadio3">
                       
                       <img src="assets/images%20(1).png" style="width:30px; height:30px" class="float-left ">
                           <h6 class="d-inline">AXIS Bank</h6>
                       
                       
                       </label>
             </div>
                       </div>
                     <div class="col-6">
                       <h6>other bank</h6>
                        
<select  name="year" required="" tabindex="5"><option >....SELECT BANK...</option><option value="Andhra bank"></option>
      <option value="ANDHRA BANK">ANDHRA BANK</option>
      <option value="BANK OF BORODA">BANK OF BORODA</option>
      <option value="BANK OF INDIA">BANK OF INDIA</option>
      <option value="CENTRAL BANK">CENTRAL BANK</option>
      <option value="BANK OF MAHARASTRA">BANK OF MAHARASTRA</option>
                       </select>
                       </div>
                       <div class="col-2 mr-5">
                   <button type="button" class="btn btn-m mt-2 " style="background-color: orange">PAY<span>₹1556</span></button>
                       </div>
                       
                    </div>
               </div>  
                  
                 </div>
                 </div>
                 
                  </label>
             </div>
                <div class="custom-control custom-radio ml-4">
             <input id="net" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                    <label class="custom-control-label" for="net">
                    
                    
                    <div id="accordion" role="tablist">
                      <h5 class="mb-0">
                     <a data-toggle="collapse" href="#collapsefour" aria-expanded="true" aria-controls="collapsefour">
                       <p class="d-inline">Cash on Delivery</p>
                     </a>
                    </h5>

                    <div id="collapsefour" class="collapse show" role="tabpanel" aria-labelledby="headingfour">
                        
                        <div class=" clearfix">
                            <div class="float-left">
                          <img src="assets/main-qimg-0025b2b485965ef8cb19e933bcc367e1.gif" style="height: 60px; width:: 70;">
                         <img src="assets/refresh_black_144x144.png" style="height: 30px; width:30px;">
                            </div>
                            
                            <div class="float-left mt-2 ml-2">
                            
                             <input class="form-control mr-sm-2" type="text" placeholder="Enter the characters" aria-label="Search">
                            </div>
                            
                          <div class="float-left">
                            
                               <button type="button" class="btn btn-m mt-2 ml-2" style="background-color: orange">CONFORM ORDER</button>
                            
                            </div>  
                            
                            
                           </div>
                        
                        
                        
                    </div>
                  </div>
                    
                    
                    </label>
              </div>   
             </div>
          </div>
         </div>
         
         <div class="col-4">
         
         <div class="card">
       <div class="card-body">
         <h6 class="card-title" style="text-align: center">PRICE DETAILS</h6>
       </div>
    </div>
         <div class="card">
<div class="card-body">
 
   <div class="clearfix">
    <div class="float-left">
        <p>price (1 item)</p>
        <p>Delivery charge</p>
        <p>Amount payable</p>
     </div>
       
   <div class="float-right">
      <p> ₹1559</p>
       <p style="color: #388e3c">FREE</p>
       <p>₹1559</p>
      </div>
        </div>
     </div>
       </div>
         
     <div class="card">
        <div class="card-body">
            <img src="assets/icons8-add-tag-24%20(1).png" class="float-left">
            <p style="color: #388e3c" ><b class="ml-2">OFFERS</b></p>
            
            <p class="d-inline">Extra 5% off* with Axis Bank Buzz Credit Card <span><a href="">T&C</a></span></p>
          </div>     
          </div>  
             
          </div>
         
          </div>
     </div>
      
      
      

      
  </body>
