.h{
    margin: 5px -20px 20px;
    border-top: 1px solid #c9c7c7;
  }
 .c3{
     color: red;
 }
 #id2{
     z-index: 9;
 }
 .i{
     width: 90px;
 }
 #input1{
   border: 0;
   outline: 0;
   width: 250px;
   border-bottom: 2px solid gray;
  }
  #input1:hover{
   border-bottom: 2px solid blue;
  }
  #input1[type="text"]{
     /* background-image: url("search-icon-2.png"); */
     background: white no-repeat left center;
     background-size: 30px 30px;
     padding-left: 29px;
  }
  .c4{
      font-size: 15px;
  }
